{% extends 'base.html.twig' %}

{% block title %}Pitchee - Inspos{% endblock %}

{% block body %}
    <div class="container">
        <div class="header">
            <div class="profile-picture">
                {% if app.user.getImageFilename() != null %}
                    <img src="{{ asset('uploads/' ~ app.user.getImageFilename()) }}" alt="profile-picture">
                {% else %}
                    <img src="{{ asset('images/user/default-user-image.png') }}" alt="profile-picture">
                {% endif %}
            </div>
            <div class="header-title">
                <div class="title-sm">Hey {{ app.user.getFirstName() }},</div>
                <div class="title-lg">Quoi de neuf ?</div>
            </div>
        </div>
    </div>
    <script>
    // Vanilla JS fadeOut
    // https://gist.github.com/alirezas/c4f9f43e9fe1abba9a4824dd6fc60a55
    function fadeOut(el){
        el.style.opacity = 1;

        (function fade() {
            if ((el.style.opacity -= .1) < 0) {
                el.style.display = "none";
            } else {
                requestAnimationFrame(fade);
            }
        })();
    }

    function loadNextCard(firstTime = false){
        console.log('new card')
        console.log(firstTime)
        $.ajax({
            type: "GET",
            url: "/card/next",
            success: function (response) {
                console.log(response)
                let res = JSON.parse(response);
                let template = ''
                let media = '';

                if(res.type === 'video' || res.type === 'musique') {
                    media = `
                    <div class="video-responsive">
                        <iframe src="https://www.youtube.com/embed/` + res.content.slice(-11) + `"  allow="fullscreen;"></iframe>
                    </div>
                    `;
                }else{
                    media = `
                    <img src="`+res.content+`" alt="idea">
                    `;
                }

                $.ajax({
                    async: false,
                    type: 'GET',
                    url: '/card/generate',
                    data: {
                        'id': res.id,
                        'title': res.title,
                        'content': res.answer,
                        'type': res.type,
                        'media': media
                    },
                    success: function(response){
                        template = response
                    }
                })

                let newCard = template
                let nextCard = document.querySelector('.card-next')

                if(firstTime){
                    console.log('first time')
                    newCard = newCard.replace('card-next', 'card')
                    loadNextCard()
                }

                if(nextCard !== null){
                    nextCard.classList.add('card');
                    nextCard.classList.remove('card-next');
                }

                document.querySelector('.container').insertAdjacentHTML('beforeend', newCard)


                // console.log(nextCard)



            }
        });
    }

    function removeOldCard(card){
        fadeOut(card)
        card.parentNode.removeChild(card)
    }

    function moveToSidebar(card){
        let cardSidebar = card.cloneNode(true);

        cardSidebar.classList.add('card-sidebar');
        cardSidebar.classList.remove('card');

        document.querySelector('.sidebar').insertAdjacentHTML('afterbegin', cardSidebar.outerHTML);
    }

    function likeCard(card){
        let cardId = card.querySelectorAll('.card-id')

        if(cardId.length > 0){
            cardId = cardId[0].value
            $.ajax({
                url: '/like/new/'+cardId,
                success: function(response){
                    if(response === 'OK'){
                        moveToSidebar(card)
                        removeOldCard(card)
                        loadNextCard()
                    }else{
                        alert('Erreur de like');
                    }
                }
            })
        }
    }

    $(document).ready(function(){
        loadNextCard(true)
    })

    $(document).on('click', '.like', function(){
        likeCard(document.querySelector('.card'))
    })
    </script>
{% endblock %}
