<div class="block card-sidebar">
    <div class="block-title">
        <h1><a href="{{ path('card_show', {'id': id}) }}">{{ title }}</a></h1>
    </div>
    <div class="block-content">
        <div class="block-image">
            {{ media|raw }}
        </div>
    </div>
</div>
