{{ form_start(form, {'attr': {'class': 'add-comment-form'}}) }}
    <div class="add-comment-title">
        {{ form_row(form.title, {'attr': {'class': 'comment-title', 'placeholder': "Titre.."}}) }}
    </div>
    {{ form_row(form.content, {'attr': { 'placeholder': "Commentaire.."}}) }}
    <button class="btn" type="submit">Envoyer</button>
{{ form_end(form) }}
