{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
<div class="container">
    <div class="block-title">
        <h1>Create new Comment</h1>
    </div>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('comment_index') }}">back to list</a>
</div>
{% endblock %}
