{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
<div class="container">
    <div class="block-title">
        <h1>Comment</h1>
    </div>

    {{ include('comment/_form.html.twig', {'form': form}) }}
    {{ dump(comments) }}
</div>
{% endblock %}
