<form method="post" action="{{ path('card_list_delete', {'id': card_list.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cette liste ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ card_list.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
