{% extends 'base.html.twig' %}

{% block title %}Edit CardList{% endblock %}

{% block body %}
<div class="container">
    <div class="block-title">
        <h1>Edit CardList</h1>
    </div>

    {{ include('card_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('card_list_index') }}">back to list</a>

    {{ include('card_list/_delete_form.html.twig') }}
</div>
{% endblock %}
