{% extends 'base.html.twig' %}

{% block title %}Nouvelle liste{% endblock %}

{% block body %}
<div class="container">
    <div class="header">
        <div class="profile-picture">
            {% if app.user.getImageFilename() != null %}
                <img src="{{ asset('uploads/' ~ app.user.getImageFilename()) }}" alt="profile-picture">
            {% else %}
                <img src="{{ asset('images/user/default-user-image.png') }}" alt="profile-picture">
            {% endif %}
        </div>
        <div class="header-title">
            <div class="title-sm">Hey {{ app.user.getFirstName() }},</div>
            <div class="title-lg">Organise tes idées !</div>
        </div>
    </div>
    <div class="block">
        <div class="block-title">
            <h1>Créer une liste.</h1>
        </div>
        <div class="block-subtitle">Et organise ton inspiration.</div>
        {{ include('card_list/_form.html.twig') }}
    </div>
</div>
{% endblock %}
