{% extends 'base.html.twig' %}

{% block title %}New CardList{% endblock %}

{% block body %}
    <h1>Create new CardList</h1>

    {{ include('card_list/_form.html.twig') }}

    <a href="{{ path('card_list_index') }}">back to list</a>
{% endblock %}
