//////////////////////////////////////////////////////////////////////////
//
//
//				     alert
//
//
//
//////////////////////////////////////////////////////////////////////////

.alert{
  height: 2rem;
  padding: 10px;

  &-succes{
    background-color: rgba($success, 0.3);
    color: $success;
  }

}