//////////////////////////////////////////////////////////////////////////
//
//
//				     block
//
//
//
//////////////////////////////////////////////////////////////////////////

$radius: 15px;

.block{
  $this: '.block';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60vw;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: $white;
  border-radius: $radius;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  text-decoration: none;

  &-title{
    h1{
      margin-bottom: 10px;
      color: $secondary;

      @include responsive-entre(xs, sm){
        margin-top: 0;
        font-size: 1.5rem;
      }
    }
  }

  &-subtitle{
    text-align: center;
    color: $tertiary;
    font-family: 'Roboto';
    font-size: 1rem;
  }

  &-content{
    font-size: 1rem;

    #{$this}-image{
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      width: 100%;
      height: 9.6rem;
      overflow: hidden;
      border-radius: 10px;
  
      @include responsive(md){
          display: flex;
          justify-content: center;
          width: 100%;
          height: 6rem;
          overflow: hidden;
      }

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-options{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;

    #{$this}-button {
      padding: 8px;
      border: none;
      border-radius: 13px;
      font-family: 'Roboto';
      font-size: 1rem;
    }

    .dismiss{
      background-color: $black;
      color: $white;
    }

    .like{
      background-color: $white;
      color: $black;
      border: 2px solid $black;

      i{
        margin-left: 4px;
      }
    }
  }

  &-dropdown{
    position: relative;
    top: 0;
    left: 0;
    margin-top: 3rem;
    transform: translate(0, 0);
    align-self: center;
  }

  &-login{
    width: 30rem;
    height: 30rem;

    #{$this}-title{
      text-align: center;
    }

    a{
      text-align: right;
      display: block;
      padding-right: 3.5rem;
      margin-top: 2rem;
      color: $secondary;
      font-family: 'Roboto', sans-serif;
    }
  }

  &-register{
    width: 70rem;
    height: 38rem;

    #{$this}-title{
      text-align: center;
    }

    // Register
    .form-container{
      display: flex;
      justify-content: center;

      #{$this}-form {
        width: 70%;

        input[type='radio'] {
          display: inline-block;
        }

        button[type='submit']{
          margin-right: 0;
        }

        .form-group {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          #registration_form_civility {
            label {
              color: $tertiary;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  &-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    .form-group{
      margin-bottom: 2rem;

      label{
        display: block;
        margin-bottom: 10px;
      }

      input[type='text'], input[type='email'], input[type='password']{
        width: 20rem;
        height: 2.7rem;
        padding: 5px 1rem;
        border-radius: $radius;
        border: 1px solid lightgray;
        font-size: 1rem;
      }
    }

    button[type='submit']{
      align-self: flex-end;
      margin-right: 3.4rem;
      height: 2.5rem;
      width: 10rem;
      background-color: $primary;
      color: $white;
      font-size: 1rem;
      border: none;
      border-radius: $radius;
    }
  }
}