//////////////////////////////////////////////////////////////////////////
//
//
//				     block
//
//
//
//////////////////////////////////////////////////////////////////////////

.block{
  $this: '.block';
  padding: 2rem;
  background-color: $white;
  border-radius: $radius;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  text-decoration: none;
  margin-bottom: 2rem;

  .grid-item &{
    position: static;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    transform: translate(0, 0);

    #{$this}-title {
      h1 {
        margin-top: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 14rem;
      }
    }
  }

  &-title{
    position: relative;

    h1{
      margin-top: 0;
      margin-bottom: 10px;
      color: $secondary;

      @include responsive-entre(xs, sm){
        font-size: 1.5rem;
      }
    }
  }

  &-subtitle{
    color: $tertiary;
    font-family: 'Roboto';
    font-size: 1rem;
  }

  &-username{
    width: max-content;
    transition: color 0.4s ease-in-out;

    a{
      transition: color 0.4s ease-in-out;
    }

    &:hover{
      color: $primary;

      a{
        color: $primary;
      }
    }
  }

  &-content{
    font-size: 1rem;

    #{$this}-image{
      display: flex;
      margin-top: 1rem;
      width: 100%;
      height: 9.6rem;
      overflow: hidden;
      border-radius: 10px;
  
      @include responsive(md){
          display: flex;
          justify-content: center;
          width: 100%;
          overflow: hidden;
      }

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .video-responsive {
        overflow:hidden;
        position:relative;
        width: 100%;
        height: 100%;
      }

      .video-responsive iframe {
        position:absolute;
        left:0;
        top:0;
        height:100%;
        width:100%;
      }
    }
  }

  &-icon{
    position: absolute;
    top: 0.5rem;
    right: 0;
    cursor: pointer;
  }

  .edit-card{
    color: lightblue;
  }

  .show-card{
    color: $success;
    font-size: 1.5rem;
  }

  &-icon2{
    position: absolute;
    top: 1rem;
    right: 30px;
  }

  &-options{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;

    #{$this}-button {
      padding: 8px;
      border: none;
      border-radius: 13px;
      font-family: 'Roboto';
      font-size: 1rem;
    }

    .dismiss{
      background-color: $black;
      color: $white;
      cursor: pointer;
    }

    .like{
      background-color: $white;
      color: $black;
      border: 2px solid $black;
      cursor: pointer;

      i{
        margin-left: 4px;
      }
    }
  }

  &-dropdown{
    align-self: center;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
  }

  &-login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;

    @include responsive(md) {
      width: 30vw;
      height: 45vh;
      padding: 4rem;
    }

    #{$this}-title{
      text-align: center;
    }

    #{$this}-subtitle{
      text-align: center;
    }



    a{
      text-align: right;
      display: block;
      margin-top: 2rem;
      color: $secondary;
      font-family: 'Roboto', sans-serif;
    }
  }

  &-register{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70vw;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 3rem;

    @include responsive(md) {
      top: 50%;
      width: 60vw;
      height: 70vh;
      padding: 4rem;
    }

    #{$this}-title{
      text-align: center;

      #{$this}-subtitle{
        text-align: center;
      }
    }

    // Register
    .form-container{
      display: flex;
      justify-content: center;

      #{$this}-form {
        width: 90%;

        input[type='radio'] {
          display: inline-block;
        }

        button[type='submit']{
          margin-right: 0;
        }
      }
    }
  }

  &-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    &.edit-user{
      margin-top: 0;
    }

    .form-row{
      width: 100%;

      @include responsive(md){
        white-space: nowrap;
      }

      .form-group{
        display: inline-block;
        width: 100%;
        white-space: normal;

        @include responsive(md){
          width: 50%;
        }

        #registration_form_civility {
          label {
            color: $tertiary;
            display: inline-block;
          }
        }

        #user_civility {
          label {
            color: $tertiary;
            display: inline-block;
          }
        }
      }

      .input-click{
        font-size: 1.5rem;

        @include responsive(md){
          font-size: 2.5rem;
        }
      }
    }

    .form-group{
      margin-bottom: 2rem;
      width: 100%;

      label{
        display: block;
        margin-bottom: 10px;
      }

      input[type='text'], input[type='email'], input[type='password'], textarea, select{
        width: 100%;
        height: 2.7rem;
        padding: 5px 1rem;
        border-radius: $radius;
        border: 1px solid lightgray;
        font-size: 1rem;
        box-sizing: border-box;
      }

      select[multiple]{
        height: auto;
      }

      textarea{
        resize: vertical;
        font-family: "Arial Rounded MT Bold";
        color: $tertiary;
      }

      .help-text{
        font-family: "Roboto";
        color: $tertiary;
      }
    }

    button[type='submit']{
      align-self: flex-end;
      height: 2.5rem;
      width: 10rem;
      background-color: $primary;
      color: $white;
      font-size: 1rem;
      border: none;
      border-radius: $radius;
    }
  }
}