//////////////////////////////////////////////////////////////////////////
//
//
//             card
//
//
//////////////////////////////////////////////////////////////////////////

$this: '.card';

.block#{$this}{
  height: auto;

  .block-content#{$this}-show{
    $height: 15rem;

    white-space: nowrap;

    .block-image{
      display: inline-block;
      width: 50%;
      height: $height;
    }

    .block-answer{
      display: inline-block;
      vertical-align: top;
      padding: 1rem;
      width: 50%;
      height: $height;
      white-space: normal;
      overflow-y: scroll;
      box-sizing: border-box;

      &-title{
        font-size: 1.5rem;
        color: $tertiary;
        margin-bottom: 1rem;
      }

      &-content{
        font-family: "Roboto";
      }

    }
  }

  .block-image{
    height: auto;
  }

  .block-video, .block-musique{
    min-height: 30rem;
    display: flex;
    margin-top: 1rem;
    width: 100%;
    height: 9.6rem;
    overflow: hidden;
    border-radius: 10px;

    @include responsive(md){
      display: flex;
      justify-content: center;
      width: 100%;
      overflow: hidden;
    }

    .video-responsive {
      overflow:hidden;
      position:relative;
      width: 100%;
      height: 100%;
    }

    .video-responsive iframe {
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:100%;
    }
  }
}

#{$this}-next{
  display: none;
}

#{$this}-sidebar{
  margin-bottom: 1rem;
  padding: 0 2rem;

  .block-button.ok{
    display: none;
  }

  .block-video, .block-musique{
    display: flex;
    margin-top: 1rem;
    width: 100%;
    height: 9.6rem;
    overflow: hidden;
    border-radius: 10px;

    @include responsive(md){
      display: flex;
      justify-content: center;
      width: 100%;
      overflow: hidden;
    }

    .video-responsive {
      overflow:hidden;
      position:relative;
      width: 100%;
      height: 100%;
    }

    .video-responsive iframe {
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:100%;
    }
  }
}