//////////////////////////////////////////////////////////////////////////
//
//
//             card
//
//
//////////////////////////////////////////////////////////////////////////

$this: '.card';

#{$this}-next{
  display: none;
}

#{$this}-sidebar{
  margin-bottom: 0;
  padding: 0 2rem;

  .block-button.ok{
    display: none;
  }
}