//////////////////////////////////////////////////////////////////////////
//
//
//				masonry
//
//
//////////////////////////////////////////////////////////////////////////

.grid{
  margin-top: 2rem;

  .grid-item {
    width: 100%;
    margin-bottom: 2rem;

    @include responsive(md) {
      width: 30%;
    }

    // WIDTH

    &--width2 {

    }

    //HEIGHT

    &--height2 {

    }

  }
}

