//////////////////////////////////////////////////////////////////////////
//
//
//             text
//
//
//////////////////////////////////////////////////////////////////////////

.text-primary{
  color: $primary;
}

.text-secondary{
  color: $secondary;
}

.text-tertiary{
  color: $tertiary;
}

.font-light{
  font-family: 'Roboto';
}

.text-muted{
  color: $tertiary;
  margin-bottom: 2rem;

  a{
    color: $tertiary;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover{
      color: $primary;
    }
  }
}