
//////////////////////////////////////////////////////////////////////////
//
//
//				APPEL DES FICHIERS PARTIELS A COMPILER
//				pour le css de base
//
//
//////////////////////////////////////////////////////////////////////////

//////////////////// VARIABLES / FONCTIONS / MIXINS / ICONES / ANIMATIONS ////////////////////
 
@import 'general';

////////////////// INTERFACE //////////////////

@import 'interface/nav';
@import 'interface/sidebar';
@import 'interface/header';
@import 'interface/interests';
@import 'interface/block';
@import 'interface/text';
@import 'interface/masonry';

////////////////// STYLE GENERAL //////////////////

@font-face {
    font-family: 'Arial Rounded MT Bold';
    src: url('../fonts/arlrdbd.ttf');
}

@font-face {
    font-family: 'Helvetica Now Medium';
    src: url('../fonts/HelveticaNowText-Medium.woff');
}

@font-face {
    font-family: 'Helvetica Now Regular';
    src: url('../fonts/HelveticaNowText-Regular.woff');
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;

    div.background{
        overflow-y: scroll;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgb(44,255,0);
        background: radial-gradient(circle, rgba(44,255,0,0.22170875186011907) 0%, rgba(254,255,0,0.14047625886292014) 13%, rgba(241,0,255,0.14607849975927867) 28%, rgba(136,0,255,0.09005609079569332) 47%, rgba(0,164,255,0.11806729527748594) 76%, rgba(255,252,25,0.17969194513742992) 88%, rgba(14,255,0,0.21610651096376055) 100%);
        /*background: rgb(44,255,0);
        background: linear-gradient(143deg, rgba(44,255,0,0.29733900396095936) 0%, rgba(254,255,0,0.14047625886292014) 13%, rgba(241,0,255,0.14607849975927867) 28%, rgba(136,0,255,0.09005609079569332) 47%, rgba(0,164,255,0.11806729527748594) 76%, rgba(255,252,25,0.17969194513742992) 88%, rgba(255,89,0,0.6698880235688025) 100%);*/
    }

    div.container{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        padding-top: 6rem;
        font-family: 'Arial Rounded MT Bold';

        @include responsive(lg){
            position: absolute;
            left: 10.5rem;
            width: 60vw;
            padding: 3rem 0;
            font-family: 'Arial Rounded MT Bold';
        }
    }

    #loader{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: $white url('../../public/images/loader.gif') no-repeat center;
        background-size: 20rem;
        z-index: 999;
    }

    .back-btn{
        margin-bottom: 2rem;
    }
}