{% extends 'base.html.twig' %}

{% block title %}Infos persos{% endblock %}

{% block body %}
<div class="container">
    <div class="header">
        <div class="header-title" style="margin-left: 0">
            <div class="title-sm">{{ app.user.getFirstName() }},</div>
            <div class="title-lg">Modifie tes infos</div>
        </div>
    </div>
    <div class="text-muted">
        Cliquez sur le prénom/nom pour le modifier et de même pour modifier la photo de profil.
    </div>
    <div class="block">
        <div class="form-container">
            {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>



{#    {{ include('user/_delete_form.html.twig') }}#}

</div>
{% endblock %}
