{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="container">
    <div class="block-title">
        <h1>Create new User</h1>
    </div>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>
</div>
{% endblock %}
